.radio-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-button input {
    accent-color: #3a389b;
}

.radio-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}
