<div class="main-container" id="product-view">
  <article class="vertical-nav-bar">
    <div id="navbar-vertical">
      <div id="navbar-logo-container">
        <img src="../assets/images/logoqatu.jpeg" alt="Qatu Logo" id="navbar-logo" />
      </div>
    </div>
  </article>

  <article class="right-content">
    <section class="top-nav">
      <div class="nav-container">
        <button class="back-button">
          <i class="fa fa-arrow-left"></i> 
        </button>
        <div id="search-container"></div>
        <div class="icon-container"></div>
      </div>
    </section>

    <section class="product-view-container">
      <div class="product-details">
        <div class="product-image">
            <img id="product-image" src="https://via.placeholder.com/150" alt="Product Image" />
        </div>
        <div class="product-info">
            <h2 id="product-title"></h2>
            <p id="product-description"></p>
            <p id="product-price"></p>
            <div class="product-buttons">
                <button id="add-to-cart-btn" class="add-to-cart">BUY</button>
                <button id="edit-product-btn" class="edit-product">EDIT</button>
                <button id="delete-product-btn" class="delete-product">DELETE</button>
            </div>
        </div>
    </div>
    </section>

    <section id="footer-section">
      <div id="footerContainer"></div>
    </section>
  </article>
</div>
