<div id="user-profile-container" class="user-profile">
    <img src="../assets/images/usuario.png" alt="User Avatar" class="user-avatar">
    <h1 id="user-name">Loading name...</h1>
    <p id="user-email">Loading email...</p>
    <button id="edit-profile-btn" class="edit-profile-btn">Edit Profile</button>
    <button id="back-to-market-btn" class="back-to-market-btn">Back</button>

    <div id="edit-form" style="display: none; margin-top: 20px;">
        <input id="edit-username" type="text" placeholder="Editar nombre">
        <input id="edit-email" type="email" placeholder="Editar correo">
        <div id="edit-form">
            <button id="save-profile-btn"> SAVE </button>
            <button id="cancel-edit-btn"> CANCEL</button>
        </div>        
    </div>
</div>
