@import "./Main.css";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 1rem;
    width: 70%;
    margin: 2rem auto;
    padding: 1.5rem;
    padding-bottom: 0; 
    max-height: fit-content; 
    box-shadow: 0 0.25rem 0.75rem var(--black);
}*/

h1 {
    color: var(--white);
    font-size: 4rem; 
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

label {
    font-weight: bold;
    color: var(--rich-black);
}

input {
    padding: 0.5rem;
    border: 2px solid var(--white);
    border-radius: 80px;
    font-size: 1rem;
}

input:focus {
    border: 2px solid var(--white);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

button {
    background-color: var(--fern-green);
    color: white;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 0.2rem;
}

button:hover {
    background-color: var(--midnight-green);
}

button:active {
    background-color: var(--midnight-green);
}

p {
    color: var(--white);
}

.error-message {
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 1rem;
}

.error-message p {
    color: red;
    margin: 0.2rem 0;
}

input.error {
    border: 2px solid red;
}
