.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #0b1e2d;
  padding: 1rem;
  border-radius: 0.625rem;
  width: 90%;
  max-width: 40rem;
  color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 96vh;
  align-items: center;
}

.register-product-layout {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
}

.register-product-container > h2 {
  margin: 0.5rem 0;
}

.image-upload-container {
  flex: 1 1 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-preview-container {
  margin-top: 1rem;
  text-align: center;
  border: 1px dashed #bbb;
  padding: 1rem;
  border-radius: 0.625rem;
}

#image-preview {
  max-width: 100%;
  height: 18vh;
  object-fit: cover;
  border-radius: 0.625rem;
}

.register-product-layout > .form-container {
  flex: 2 1 500px;
  width: 27vw;
  height: 40vh;
}

#register-product-form {
  /* height: 40vh; */
  overflow-y: auto;
}

#register-product-form > .form-group > input {
  width: auto;
}

#register-product-form > .form-group > textarea {
  width: auto;
}

#register-product-form > .form-group > label {
  font-weight: bold;
  color: #0b1e2d;
}

.register-product-container h2 {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.register-product-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.register-product-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-product-container label {
  font-size: 0.875rem;
  font-weight: bold;
  color: #bbb;
}

.register-product-container input,
.register-product-container textarea,
.register-product-container select {
  background-color: #f3e8ff;
  border: none;
  border-radius: 1.25rem;
  padding: 0.625rem 0.9375rem;
  color: #333;
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

.register-product-container input:focus,
.register-product-container textarea:focus,
.register-product-container select:focus {
  background-color: #e2d1ff;
}

select {
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.register-product-container textarea {
  resize: vertical;
  min-height: 5rem;
}

.register-product-container button[type="submit"] {
  background-color: #417E2E;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-colnpm run devor 0.3s ease;
}

.register-product-container button[type="submit"]:hover {
  background-color: #1f5b0d;
}
